header{
    display: flex;
    background-color: blue;
    height: 5%;

    h2{
        color: white;
        margin: 0;
        margin-left: 20px;
        margin-top: 5px;
        font-size: 1.7rem;
    }
    ul{   
        position: absolute;
        margin: 0px;
        right: 2%;
        margin-top: 8px;
        
        li{
            display: inline;
            font-size: 1.3rem;
            word-break: break-all;
            a{
                color: white;
                text-decoration: none;
                margin-right: 7px;
            }
            
        }
    }
}