footer {
  height: 10%;
  background-color: grey;
  position: fixed;
  flex-wrap: wrap;
  color: white;
  width: 100%;
}

footer div {
  display: flex;
}

footer h3 {
  margin-left: 10px;
}

footer i {
  margin-top: 20px;
  margin-left: 10px;
}

footer ul {
  font-size: 1.3rem;
  list-style-type: none;
}

footer ul li a {
  color: white;
  text-decoration: none;
}
